<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website that temporarily stores files to a chosen date.">
    <link rel="fluid-icon" href="/static/imgs/icon.png" title="TempFile">
    <meta name="twitter:image:src" content="/static/imgs/icon.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="TempFile">
    <meta name="twitter:description" content="A website that temporarily stores files to a chosen date.">
    <meta property="og:image" content="/static/imgs/icon.png">
    <meta property="og:site_name" content="TempFile">
    <meta property="og:type" content="object">
    <meta property="og:title" content="TempFile">
    <meta property="og:url" content="/">
    <meta property="og:description" content="A website that temporarily stores files to a chosen date.">
    <title>TempFile.site</title>
    <link rel="icon" href="/static/imgs/icon.png">
    <link rel="stylesheet" href="/static/styles/index.css">
    <script src="/static/js/indx.js"></script>
</head>

<body>
    <div class="notif">
        <div class="normal content">
            <svg class="leftIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1250 1250" xml:space="preserve">
                <g>
                    <g>
                        <g>
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:83.3333;" d="M1143.9,439.2l1,395.7c0,14.5-1.5,89.8-66,151.3c-40.6,38.7-97.2,62.9-158.9,62.9l-147.3-2.6c-26,0-44.3,22.9-51.6,33.8c-2.5,3.8-5.1,7.4-8.1,10.7c-23.6,27.4-57.6,90.6-87.1,91.6c-25.6,0.8-65.9-57-84-85c-11.5-17.8-28.2-32.1-48.4-40.5c-16.3-6.8-34.2-10.2-52.3-9.9l-89.2,1.5c-14.4,0.2-28.8-0.8-43-3.1c-43.5-7-93.7-19.1-136.1-59.5c-40.6-38.7-66-92.6-66-151.3V304.4c0-117.5,100.8-214.2,224.9-214.2l576.2-2.7l0,0c67.8-0.3,132.7,27.2,177.2,75.9c23.7,25.9,44.7,58.4,54.3,97.9c3.6,14.5,5.5,30,5.5,46.5"/>
                            <path style="fill:#FFFFFF;" d="M1187.5,450.2"/>
                            <path style="fill:#FFFFFF;" d="M1100.3,439.8c0-22.9,19-41.5,42.4-41.5h2.2c23.4,0,42.4,18.6,42.4,41.5"/>
                            <path style="fill:#FFFFFF;" d="M1188.5,307.8c-1.5,4.2-4.6,11.1-11.2,17.4c-12.2,11.5-27.2,11.9-31,11.8h-2.3c-2.8-0.1-19.3-0.9-31-11.8c-6.3-5.9-10.2-13.7-11.4-17.4c0-0.1-0.1-0.3-0.1-0.3"/>
                        </g>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#FFFFFF;" d="M614.5,903.3L614.5,903.3c-45.1,0-81.7-36.5-81.7-81.7V576.2c0-45.1,36.5-81.7,81.7-81.7l0,0c45.1,0,81.7,36.5,81.7,81.7v245.4C696.1,866.6,659.5,903.3,614.5,903.3z"/>
                        <path style="fill:#FFFFFF;" d="M614.5,418.7L614.5,418.7c-45.1,0-81.7-36.5-81.7-81.7l0,0c0-45.1,36.5-81.7,81.7-81.7l0,0c45.1,0,81.7,36.5,81.7,81.7l0,0C696.1,382.1,659.5,418.7,614.5,418.7z"/>
                    </g>
                </g>
            </svg>
            <p></p>
            <div class="notifCloseBtn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 426.66667 426.66667" style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g>
                        <path xmlns="http://www.w3.org/2000/svg" d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" fill="#000000" data-original="#000000"></path>
                    </g>
                </svg>
            </div>
        </div>
        <div class="success content">
            <svg class="leftIcon" width="100%" height="100%" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(0.707059,0.710077,-0.878948,0.875212,58.0097,-69.4869)"><rect x="98.907" y="20.67" width="12.052" height="68.911" style="fill:white;"/></g><g transform="matrix(0.712102,-0.705019,0.390911,0.394838,-47.7082,122.029)"><rect x="98.907" y="20.67" width="12.052" height="68.911" style="fill:white;"/></g><g transform="matrix(1,0,0,1,0.628701,-0.419134)"><path d="M79.014,6.404C73.74,4.936 68.292,4.192 62.818,4.192C29.478,4.192 2.41,31.26 2.41,64.6C2.41,97.94 29.478,125.008 62.818,125.008C96.18,125.008 123.226,97.962 123.226,64.6L110.089,64.6C110.089,90.707 88.925,111.872 62.818,111.872C36.728,111.872 15.547,90.69 15.547,64.6C15.547,38.51 36.728,17.329 62.818,17.329C67.101,17.329 71.365,17.911 75.492,19.059L79.014,6.404Z" style="fill:white;"/></g></svg>
            <p></p>
            <div class="notifCloseBtn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 426.66667 426.66667" style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g>
                        <path xmlns="http://www.w3.org/2000/svg" d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" fill="#000000" data-original="#000000"></path>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <header>
        <div class="item logo">
            <div class="item logoText">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="179.386px" height="179.386px"
                    viewBox="0 0 179.386 179.386" style="enable-background: new 0 0 179.386 179.386;"
                    xml:space="preserve">
                    <g>
                        <path
                            d="M168.185,47.392L147.256,26.43c-3.653-3.653-9.578-3.666-13.231-0.006c-3.653,3.647-3.659,9.572-0.006,13.226l3.866,3.869
                        l-3.312,3.319c-10.437-9.265-23.419-15.676-37.771-18.057v-3.839h6.235c6.887,0,12.471-5.59,12.471-12.471
                        c0-6.887-5.584-12.47-12.471-12.47H65.625c-6.884,0-12.471,5.583-12.471,12.47c0,6.881,5.587,12.471,12.471,12.471h6.235v3.839
                        C35.95,34.754,8.466,65.954,8.466,103.527c0,41.833,34.032,75.858,75.865,75.858c41.832,0,75.864-34.025,75.864-75.858
                        c0-15.819-4.877-30.507-13.188-42.673l3.154-3.16c0.328-0.326,0.621-0.63,0.925-0.943l3.861,3.86
                        c1.826,1.833,4.226,2.743,6.618,2.743c2.394,0,4.78-0.91,6.607-2.731C171.826,56.97,171.838,51.051,168.185,47.392z
                         M84.337,154.451c-28.077,0-50.923-22.841-50.923-50.917c0-28.084,22.846-50.924,50.923-50.924s50.924,22.84,50.924,50.924
                        C135.261,131.61,112.414,154.451,84.337,154.451z M118.497,73.38c4.871,4.872-18.554,36.2-23.419,41.06
                        c-4.868,4.871-12.769,4.871-17.637,0c-4.871-4.872-4.871-12.763,0-17.634C82.31,91.934,113.626,68.518,118.497,73.38z" />
                    </g>
                </svg>
                <span>TempFile</span>
            </div>
        </div>
        <nav class="item link">
            <ul>
                <li><a target="_black" href="/contact">Contact</a></li>
                <li><a target="_black" href="https://github.com/Glitchii/tempfile.site">Source</a></li>
                <li><a href="/del">Delete my files</a></li>
            </ul>
            <div class="menu">
                <div class="lines">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="menuBox">
                    <ul>
                        <li><a target="_black" href="/contact">Contact</a></li>
                        <li><a target="_black" href="https://github.com/Glitchii/tempfile.site">Source</a></li>
                        <li><a href="/del">Delete my files</a></li>
                    </ul>
                    <div class="bottomBtns">
                        <a target="_black" href="https://github.com/Glitchii/">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0"
                                viewBox="0 0 438.549 438.549"
                                xml:space="preserve">
                                <g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M409.132,114.573c-19.608-33.596-46.205-60.194-79.798-79.8C295.736,15.166,259.057,5.365,219.271,5.365c-39.781,0-76.472,9.804-110.063,29.408c-33.596,19.605-60.192,46.204-79.8,79.8C9.803,148.168,0,184.854,0,224.63   c0,47.78,13.94,90.745,41.827,128.906c27.884,38.164,63.906,64.572,108.063,79.227c5.14,0.954,8.945,0.283,11.419-1.996   c2.475-2.282,3.711-5.14,3.711-8.562c0-0.571-0.049-5.708-0.144-15.417c-0.098-9.709-0.144-18.179-0.144-25.406l-6.567,1.136   c-4.187,0.767-9.469,1.092-15.846,1c-6.374-0.089-12.991-0.757-19.842-1.999c-6.854-1.231-13.229-4.086-19.13-8.559   c-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559   c-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-0.951-2.568-2.098-3.711-3.429c-1.142-1.331-1.997-2.663-2.568-3.997   c-0.572-1.335-0.098-2.43,1.427-3.289c1.525-0.859,4.281-1.276,8.28-1.276l5.708,0.853c3.807,0.763,8.516,3.042,14.133,6.851   c5.614,3.806,10.229,8.754,13.846,14.842c4.38,7.806,9.657,13.754,15.846,17.847c6.184,4.093,12.419,6.136,18.699,6.136   c6.28,0,11.704-0.476,16.274-1.423c4.565-0.952,8.848-2.383,12.847-4.285c1.713-12.758,6.377-22.559,13.988-29.41   c-10.848-1.14-20.601-2.857-29.264-5.14c-8.658-2.286-17.605-5.996-26.835-11.14c-9.235-5.137-16.896-11.516-22.985-19.126   c-6.09-7.614-11.088-17.61-14.987-29.979c-3.901-12.374-5.852-26.648-5.852-42.826c0-23.035,7.52-42.637,22.557-58.817   c-7.044-17.318-6.379-36.732,1.997-58.24c5.52-1.715,13.706-0.428,24.554,3.853c10.85,4.283,18.794,7.952,23.84,10.994   c5.046,3.041,9.089,5.618,12.135,7.708c17.705-4.947,35.976-7.421,54.818-7.421s37.117,2.474,54.823,7.421l10.849-6.849   c7.419-4.57,16.18-8.758,26.262-12.565c10.088-3.805,17.802-4.853,23.134-3.138c8.562,21.509,9.325,40.922,2.279,58.24   c15.036,16.18,22.559,35.787,22.559,58.817c0,16.178-1.958,30.497-5.853,42.966c-3.9,12.471-8.941,22.457-15.125,29.979   c-6.191,7.521-13.901,13.85-23.131,18.986c-9.232,5.14-18.182,8.85-26.84,11.136c-8.662,2.286-18.415,4.004-29.263,5.146   c9.894,8.562,14.842,22.077,14.842,40.539v60.237c0,3.422,1.19,6.279,3.572,8.562c2.379,2.279,6.136,2.95,11.276,1.995   c44.163-14.653,80.185-41.062,108.068-79.226c27.88-38.161,41.825-81.126,41.825-128.906   C438.536,184.851,428.728,148.168,409.132,114.573z"
                                            fill="#ffffff" data-original="#000000"></path>
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                    <g xmlns="http://www.w3.org/2000/svg"></g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="loader">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 150 150"
            xml:space="preserve">

            <g opacity="0.95">
                <circle fill="#EF4136" cx="56.752" cy="57.16" r="12" />
                <circle fill="#2B3990" cx="93.703" cy="57.16" r="12" />
                <circle fill="#92278F" cx="93.703" cy="93.764" r="12" />
                <circle fill="#1C75BC" cx="56.926" cy="93.764" r="12" />
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 75 75"
                    to="360 75 75" dur="2s" repeatCount="indefinite" />

            </g>
        </svg>
    </div>
    <div class="links">
        <div class="closeBtn">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                y="0px" viewBox="0 0 492 492" xml:space="preserve">
                <g>
                    <g>
                        <path
                            d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z" />
                    </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
            </svg>
        </div>
        <div class="inner">
            <h2>File Uploaded</h2>
            <div class="urls">
                <p>Go to this link to download your file</p>
                <div class="btn name">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            x="0px" y="0px" viewBox="0 0 512.001 512.001"
                            style="enable-background: new 0 0 512.001 512.001;" xml:space="preserve">
                            <g>
                                <g>
                                    <path
                                        d="M439.565,411.847l-21.213-21.213c-5.863-5.863-15.352-5.863-21.215,0c-5.861,5.862-5.861,15.35,0,21.213l21.215,21.213    c5.861,5.863,15.35,5.863,21.213,0C445.428,427.197,445.428,417.71,439.565,411.847z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M364.999,398.671c-8.286,0-14.998,6.713-14.998,14.998v29.998c0,8.285,6.713,14.998,14.998,14.998    c8.288,0,15-6.712,15-14.998v-29.998C379.999,405.384,373.286,398.671,364.999,398.671z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M450.17,344.004h-29.996c-8.286,0-14.998,6.711-14.998,14.998c0,8.286,6.713,14.998,14.998,14.998h29.996    c8.287,0,15-6.713,15-14.998C465.17,350.715,458.457,344.004,450.17,344.004z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M121.366,93.648l-21.213-21.213c-5.863-5.863-15.35-5.863-21.213,0c-5.863,5.863-5.863,15.35,0,21.213l21.213,21.213    c5.863,5.863,15.35,5.863,21.213,0C127.229,109,127.229,99.511,121.366,93.648z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M98.329,132.005H68.333c-8.286-0.001-14.998,6.712-14.998,14.998c0,8.287,6.713,14.998,14.998,14.998h29.996    c8.287,0,15-6.711,15-14.998C113.329,138.717,106.616,132.005,98.329,132.005z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M152.998,46.83c-8.286,0-14.998,6.713-14.998,14.998v29.998c0,8.286,6.713,14.998,14.998,14.998    c8.287,0.001,14.998-6.712,14.998-14.998V61.828C167.996,53.542,161.285,46.83,152.998,46.83z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M472.386,39.615c-52.82-52.821-138.1-52.82-190.92,0.001l-43.427,43.427c-22.273,22.273-35.213,50.486-38.395,79.548    c20.153,1.908,40.093,7.425,58.76,16.758c0-19.517,7.213-39.031,22.062-53.881l43.426-43.426    c29.275-29.275,76.791-29.275,106.066,0c29.275,29.273,29.275,76.791,0,106.066l-43.426,43.426    c-28.665,28.665-76.051,30.016-106.066,0c-52.527-52.526-137.917-53.004-190.92,0l-49.931,49.931    c-52.82,52.82-52.82,138.098,0,190.919c52.82,52.822,138.098,52.822,190.919,0l49.933-49.931    c22.273-22.273,35.425-50.7,38.608-79.761c-20.577-1.485-40.73-7.213-58.973-16.547c0,19.517-7.213,39.033-22.062,53.882    l-49.931,49.931c-29.275,29.275-76.791,29.275-106.066,0c-29.275-29.275-29.275-76.793,0-106.066l49.931-49.931    c28.608-28.61,75.989-30.077,106.066,0c54.441,54.441,139.905,51.013,190.919,0l43.427-43.427    C525.206,177.714,525.206,92.436,472.386,39.615z" />
                                </g>
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                        </svg>
                    </div>
                    <input class="input" type="text">
                </div>
                <div class="linkBtns">
                    <a class="linkBtn del" href="/del">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0" viewBox="0 0 512.016 512.016"
                            xml:space="preserve">
                            <g>
                                <g xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m448.199 164.387h-236.813l106.048-106.048c5.858-5.858 5.858-15.356 0-21.215l-26.872-26.872c-13.669-13.669-35.831-13.669-49.501 0l-27.63 27.631-14.144-14.144c-15.596-15.597-40.975-15.596-56.572 0l-55.158 55.158c-15.597 15.597-15.597 40.976 0 56.573l14.143 14.144-27.63 27.63c-13.669 13.669-13.669 35.831 0 49.501l26.872 26.872c5.857 5.858 15.356 5.859 21.214 0l38.021-38.021v231.416c0 35.901 29.104 65.005 65.005 65.005h158.012c35.901 0 65.005-29.104 65.005-65.005zm-325.284-35.989-14.143-14.143c-3.899-3.899-3.899-10.244 0-14.144l55.158-55.158c3.9-3.9 10.245-3.899 14.143 0l14.143 14.144zm129.533 299.612c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001zm66.741 0c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001zm66.741 0c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001z"
                                        fill="#000000" data-original="#000000"></path>
                                    <path
                                        d="m320.898 113.548c-9.151 3.19-15.571 11.361-16.63120.842h143.932v-24.932c0-17.119-16.845-29.167-33.022-23.682l-93.968 27.672c-.101.029-.211.069-.311.1z"
                                        fill="#000000" data-original="#000000"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <div class="linkBtn copy">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            x="0px" y="0px" viewBox="0 0 512.001 512.001"
                            xml:space="preserve">
                            <g>
                                <g>
                                    <path
                                        d="M439.565,411.847l-21.213-21.213c-5.863-5.863-15.352-5.863-21.215,0c-5.861,5.862-5.861,15.35,0,21.213l21.215,21.213    c5.861,5.863,15.35,5.863,21.213,0C445.428,427.197,445.428,417.71,439.565,411.847z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M364.999,398.671c-8.286,0-14.998,6.713-14.998,14.998v29.998c0,8.285,6.713,14.998,14.998,14.998    c8.288,0,15-6.712,15-14.998v-29.998C379.999,405.384,373.286,398.671,364.999,398.671z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M450.17,344.004h-29.996c-8.286,0-14.998,6.711-14.998,14.998c0,8.286,6.713,14.998,14.998,14.998h29.996    c8.287,0,15-6.713,15-14.998C465.17,350.715,458.457,344.004,450.17,344.004z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M121.366,93.648l-21.213-21.213c-5.863-5.863-15.35-5.863-21.213,0c-5.863,5.863-5.863,15.35,0,21.213l21.213,21.213    c5.863,5.863,15.35,5.863,21.213,0C127.229,109,127.229,99.511,121.366,93.648z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M98.329,132.005H68.333c-8.286-0.001-14.998,6.712-14.998,14.998c0,8.287,6.713,14.998,14.998,14.998h29.996    c8.287,0,15-6.711,15-14.998C113.329,138.717,106.616,132.005,98.329,132.005z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M152.998,46.83c-8.286,0-14.998,6.713-14.998,14.998v29.998c0,8.286,6.713,14.998,14.998,14.998    c8.287,0.001,14.998-6.712,14.998-14.998V61.828C167.996,53.542,161.285,46.83,152.998,46.83z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M472.386,39.615c-52.82-52.821-138.1-52.82-190.92,0.001l-43.427,43.427c-22.273,22.273-35.213,50.486-38.395,79.548    c20.153,1.908,40.093,7.425,58.76,16.758c0-19.517,7.213-39.031,22.062-53.881l43.426-43.426    c29.275-29.275,76.791-29.275,106.066,0c29.275,29.273,29.275,76.791,0,106.066l-43.426,43.426    c-28.665,28.665-76.051,30.016-106.066,0c-52.527-52.526-137.917-53.004-190.92,0l-49.931,49.931    c-52.82,52.82-52.82,138.098,0,190.919c52.82,52.822,138.098,52.822,190.919,0l49.933-49.931    c22.273-22.273,35.425-50.7,38.608-79.761c-20.577-1.485-40.73-7.213-58.973-16.547c0,19.517-7.213,39.033-22.062,53.882    l-49.931,49.931c-29.275,29.275-76.791,29.275-106.066,0c-29.275-29.275-29.275-76.793,0-106.066l49.931-49.931    c28.608-28.61,75.989-30.077,106.066,0c54.441,54.441,139.905,51.013,190.919,0l43.427-43.427    C525.206,177.714,525.206,92.436,472.386,39.615z">
                                    </path>
                                </g>
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                        </svg>
                    </div>
                    <a class="linkBtn goToLink" href="/files">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 26 26" xml:space="preserve">
                            <g>
                                <g xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18,17.759v3.366C18,22.159,17.159,23,16.125,23H4.875C3.841,23,3,22.159,3,21.125V9.875C3,8.841,3.841,8,4.875,8h3.429l3.001-3h-6.43C2.182,5,0,7.182,0,9.875v11.25C0,23.818,2.182,26,4.875,26h11.25C18.818,26,21,23.818,21,21.125v-6.367L18,17.759z" fill="#31ada9" data-original="#030104"/>
                                    <g>
                                        <path d="M22.581,0H12.322c-1.886,0.002-1.755,0.51-0.76,1.504l3.22,3.22l-5.52,5.519c-1.145,1.144-1.144,2.998,0,4.141l2.41,2.411c1.144,1.141,2.996,1.142,4.14-0.001l5.52-5.52l3.16,3.16c1.101,1.1,1.507,1.129,1.507-0.757L26,3.419C25.999-0.018,26.024-0.001,22.581,0z" fill="#31ada9" data-original="#030104"/>
                                    </g>
                                </g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                                <g xmlns="http://www.w3.org/2000/svg"></g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ov"></div>
    </div>
    <div class="cont">
        <main>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="upload" name="file" id="file" autocomplete="off">
                <input type="submit" class="submitInput" style="position: absolute; visibility: hidden;">
                <div class="dragParent">
                    <label class="part drag" for="upload">
                        <div class="partInner">
                            <img class="img mainImg" src="/static/imgs/upload.svg" alt="" width="250px" height="100%">
                            <img class="img otherImg" src="" alt="" width="250px" height="100%">
                            <div class="img fileIcon">
                                <p>File</p>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                    style="fill: #273036;" xml:space="preserve">
                                    <path
                                        d="M32,464V48c0-8.8,7.2-16,16-16h240v64c0,17.7,14.3,32,32,32h64v48h32v-64c0-4.3-1.6-8.3-4.6-11.4l-96-96c-3-3-7.1-4.7-11.4-4.6H48C21.5,0,0,21.5,0,48v416c0,26.5,21.5,48,48,48h112v-32H48C39.2,480,32,472.8,32,464z">
                                    </path>
                                </svg>
                            </div>
                            <h2></h2>
                            <textarea spellcheck="false"></textarea>
                            <p class="desc">
                                <span>Drag and drop any file or click anywere here to browse your device.</span>
                            </p>
                            <div class="uploadBtn">
                                <svg version="1.1" id="cloudWithArrow_1_" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492 328"
                                    xml:space="preserve">
                                    <path id="cloudWithArrow" style="fill: #FFFFFF;"
                                        d="M396.7,124C382.3,53.3,320.8,0,246,0c-59.5,0-110.7,33.8-136.3,83C48.2,89.1,0,141.4,0,205c0,67.6,55.3,123,123,123h266.5c56.4,0,102.5-46.1,102.5-102.5C492.2,171.7,450.4,127.1,396.7,124z M278.8,184.5v77.9h-65.6v-77.9h-69.7L246,82l102.5,102.5H278.8z" />
                                </svg>
                            </div>
                        </div>
                    </label>
                </div>
            </form>
            <div class="part btns">
                <div class="btnsInner">
                    <h2 class="optsTitle">Options</h2>
                    <div class="inner">
                        <div class="btn ipBlackList">
                            <div class="icon">
                                <svg version="1.1" xmlns:svgjs="http://svgjs.com/svgjs"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;"
                                    xml:space="preserve">
                                    <path id="Back" style="fill: #ffe6e2;"
                                        d="M416,512H96c-53,0-96-43-96-96V96C0,43,43,0,96,0h320c53,0,96,43,96,96v320C512,469,469,512,416,512z" />
                                    <g>
                                        <path style="fill: #fc573b;"
                                            d="M213.3,256c-23.5,0-42.7-19.1-42.7-42.7s19.1-42.7,42.7-42.7s42.7,19.2,42.7,42.7S236.9,256,213.3,256z" />
                                        <path style="fill: #fc573b;"
                                            d="M234.7,320c0-5.1,0.5-10.1,1.4-14.9c-8.1,11.7-16.1,22.2-22.7,30.3c-23.2-28.7-64-86.3-64-122.1c0-35.3,28.7-64,64-64s64,28.7,64,64c0,11.7-4.4,25.9-11.2,40.5c8.3-6.8,17.9-12.1,28.4-15.3c2.5-8.8,4.1-17.3,4.1-25.2c0-47.1-38.3-85.3-85.3-85.3S128,166.3,128,213.3c0,56.7,74.1,142.1,77.3,145.7c2,2.3,4.9,3.6,8,3.6s6-1.3,8-3.6c0.9-1,7.2-8.3,15.7-19.3C235.6,333.4,234.7,326.8,234.7,320L234.7,320z" />
                                    </g>
                                    <g id="Cross">
                                        <path style="fill: #fd907e;"
                                            d="M265.8,275.8l62.3,56.9c2.4,2.2,2.5,5.9,0.4,8.2v0c-2.2,2.4-5.9,2.5-8.2,0.4l-62.3-56.9c-2.4-2.2-2.5-5.9-0.4-8.2v0C259.7,273.7,263.4,273.6,265.8,275.8z" />
                                        <path style="fill: #fd907e;"
                                            d="M325.7,281.3l-56.9,62.3c-2.2,2.4-5.9,2.5-8.2,0.4l0,0c-2.4-2.2-2.5-5.9-0.4-8.2l56.9-62.3c2.2-2.4,5.9-2.5,8.2-0.4l0,0C327.7,275.3,327.9,279,325.7,281.3z" />
                                    </g>
                                </svg>
                            </div>
                            <div class="inputAndAddMore">
                                <input class="input" type="text" placeholder="Restricted IP">
                                <div class="addMore">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512"
                                        x="0" y="0" viewBox="0 0 426.66667 426.66667"
                                        style="enable-background:new 0 0 512 512" xml:space="preserve">
                                        <g>
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
                                                fill="#000000" data-original="#000000" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="sep"></div>
                        <div class="btn ipWhiteList">
                            <div class="icon">
                                <svg version="1.1" id="Layer_1" xmlns:svgjs="http://svgjs.com/svgjs"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;"
                                    xml:space="preserve">
                                    <path id="Back" style="fill: #ffe9c9;"
                                        d="M416,512H96c-53,0-96-43-96-96V96C0,43,43,0,96,0h320c53,0,96,43,96,96v320C512,469,469,512,416,512z" />
                                    <g>
                                        <path style="fill: #ff9c2a;"
                                            d="M251.3,268.2c-23.5,0-42.7-19.1-42.7-42.7s19.1-42.7,42.7-42.7S294,202,294,225.5S274.9,268.2,251.3,268.2z" />
                                        <path style="fill: #ff9c2a;"
                                            d="M272.7,332.2c0-5.1,0.5-10.1,1.4-14.9c-8.1,11.7-16.1,22.2-22.7,30.3c-23.2-28.7-64-86.3-64-122.1c0-35.3,28.7-64,64-64s64,28.7,64,64c0,11.7-4.4,25.9-11.2,40.5c8.3-6.8,17.9-12.1,28.4-15.3c2.5-8.8,4.1-17.3,4.1-25.2c0-47.1-38.3-85.3-85.3-85.3S166,178.5,166,225.5c0,56.7,74.1,142.1,77.3,145.7c2,2.3,4.9,3.6,8,3.6s6-1.3,8-3.6c0.9-1,7.2-8.3,15.7-19.3C273.6,345.6,272.7,339,272.7,332.2L272.7,332.2z" />
                                        <path style="fill: #ff9c2a;"
                                            d="M307.9,328.8l-24.9-20.9c-2.5-2.1-2.8-5.7-0.7-8.2l0,0c2.1-2.5,5.7-2.8,8.2-0.7l24.9,20.9c2.5,2.1,2.8,5.7,0.7,8.2v0C314,330.5,310.3,330.9,307.9,328.8z" />
                                        <path style="fill: #ff9c2a;"
                                            d="M370.3,263.5l-54.1,64.7c-2.1,2.5-5.7,2.8-8.2,0.7l0,0c-2.5-2.1-2.8-5.7-0.7-8.2l54.1-64.7c2.1-2.5,5.7-2.8,8.2-0.7v0C372.1,257.3,372.4,261,370.3,263.5z" />
                                    </g>
                                </svg>
                            </div>
                            <div class="inputAndAddMore">
                                <input class="input" type="text" placeholder="Restrict all IPS except">
                                <div class="addMore">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512"
                                        x="0" y="0" viewBox="0 0 426.66667 426.66667"
                                        style="enable-background:new 0 0 512 512" xml:space="preserve">
                                        <g>
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
                                                fill="#000000" data-original="#000000" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="sep"></div>
                        <div class="btn limit">
                            <div class="icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                    xml:space="preserve">
                                    <g id="Layer_1">
                                        <path style="fill:#E3F8FA;"
                                            d="M416,512H96c-53,0-96-43-96-96V96C0,43,43,0,96,0h320c53,0,96,43,96,96v320C512,469,469,512,416,512z" />
                                        <path style="fill:#26C6DA;"
                                            d="M306.2,263.5l-42.7,42.7c-4.2,4.2-10.9,4.2-15.1,0l-42.7-42.7c-3.1-3.1-4-7.6-2.3-11.6c1.6-4,5.5-6.6,9.9-6.6h32V138.7c0-5.9,4.8-10.7,10.7-10.7c5.9,0,10.7,4.8,10.7,10.7v106.7h32c4.3,0,8.2,2.6,9.9,6.6S309.3,260.5,306.2,263.5L306.2,263.5z" />
                                        <path style="fill:#8CE1EB;"
                                            d="M336.7,362.7h-166c-5.9,0-10.7-4.8-10.7-10.7l0,0c0-5.9,4.8-10.7,10.7-10.7h166c5.9,0,10.7,4.8,10.7,10.7l0,0C347.4,357.9,342.6,362.7,336.7,362.7z" />
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path style="fill:#8CE1EB;"
                                                    d="M378.3,139.8c-7.6-7.6-17.8-11.8-28.6-11.8s-20.9,4.2-28.6,11.8s-11.8,17.8-11.8,28.6s4.2,20.9,11.8,28.6s17.8,11.8,28.6,11.8s20.9-4.2,28.6-11.8s11.8-17.8,11.8-28.6S386,147.5,378.3,139.8z M374.7,142.9l-40.4,57.7c-3.1-1.5-6-3.4-8.6-5.8l40.6-58C369.4,138.4,372.2,140.4,374.7,142.9z M324.5,143.2c6.7-6.7,15.7-10.5,25.2-10.5c4.2,0,8.3,0.7,12.1,2.1l-39.5,56.5c-5.4-6.4-8.3-14.4-8.3-22.9C314.1,158.9,317.8,149.9,324.5,143.2z M375,193.7c-6.7,6.7-15.7,10.5-25.2,10.5c-3.8,0-7.4-0.6-10.9-1.7l39.1-55.9c4.9,6.2,7.5,13.9,7.5,21.9C385.4,178,381.7,186.9,375,193.7z" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <input class="input" type="number" min="0" placeholder="Download limit (empty = unliminted)">
                        </div>
                        <div class="sep"></div>
                        <div class="btn pass">
                            <div class="icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                    xml:space="preserve">
                                    <path style="fill:#F5E6FE;"
                                        d="M416,512H96c-53,0-96-43-96-96V96C0,43,43,0,96,0h320c53,0,96,43,96,96v320C512,469,469,512,416,512z" />
                                    <path style="fill:#BE63F9;"
                                        d="M292.4,128.2c-50.4,0-91.4,41-91.4,91.4c0,9.8,1.5,19.3,4.5,28.3l-75.3,75.3c-1.5,1.5-2.3,3.5-2.3,5.7v47.3c0,4.4,3.6,8,8,8h41.9c4.4,0,8-3.6,8-8v-13.1h12.8c4.4,0,8-3.6,8-8v-12.8h12.8c2.1,0,4.2-0.8,5.7-2.3L260,305c10.2,4,21.1,6,32.4,6c50.4,0,91.4-41,91.4-91.4S342.8,128.2,292.4,128.2L292.4,128.2z" />
                                    <circle style="fill:#F5E6FE;" cx="290.9" cy="217.3" r="18.5" />
                                </svg>
                            </div>
                            <input class="input" type="password" placeholder="Password Protect">
                        </div>
                        <div class="sep"></div>
                        <div class="btn name">
                            <div class="icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                    xml:space="preserve">
                                    <path style="fill:#F5E6FE;"
                                        d="M416,512H96c-53,0-96-43-96-96V96C0,43,43,0,96,0h320c53,0,96,43,96,96v320C512,469,469,512,416,512z" />
                                    <path style="fill:#BE63F9;"
                                        d="M354.7,170.7h-56V168c0-10.3-8.4-18.7-18.7-18.7h-48c-10.3,0-18.7,8.4-18.7,18.7v2.7h-56c-16.2,0-29.3,13.2-29.3,29.3v133.3c0,16.2,13.2,29.3,29.3,29.3h197.3c16.2,0,29.3-13.2,29.3-29.3V200C384,183.8,370.8,170.7,354.7,170.7z" />
                                    <path style="fill:#F5E6FE;" d="M234.7,170.7h42.7V192h-42.7V170.7z" />
                                    <g>
                                        <path style="fill:#D9A4FC;"
                                            d="M344,330.7h-58.7c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8H344c4.4,0,8,3.6,8,8C352,327.1,348.4,330.7,344,330.7z" />
                                        <path style="fill:#D9A4FC;"
                                            d="M344,288h-58.7c-4.4,0-8-3.6-8-8s3.6-8,8-8H344c4.4,0,8,3.6,8,8S348.4,288,344,288z" />
                                        <path style="fill:#D9A4FC;"
                                            d="M344,245.3h-58.7c-4.4,0-8-3.6-8-8c0-4.4,3.6-8,8-8H344c4.4,0,8,3.6,8,8C352,241.7,348.4,245.3,344,245.3z" />
                                    </g>
                                    <path style="fill:#F5E6FE;"
                                        d="M234.7,250.7c0,14.7-11.9,26.7-26.7,26.7s-26.7-11.9-26.7-26.7S193.3,224,208,224S234.7,235.9,234.7,250.7z" />
                                    <path style="fill:#F5E6FE;"
                                        d="M256,322.7c0,4.4-3.6,8-8,8h-80c-4.4,0-8-3.6-8-8v-5.3c0-16.2,13.2-29.3,29.3-29.3h37.3c16.2,0,29.3,13.2,29.3,29.3V322.7z" />
                                </svg>
                            </div>
                            <input class="input" type="text" placeholder="Name">
                        </div>
                        <div class="sep"></div>
                        <div class="btn datetime">
                            <div class="icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                    xml:space="preserve">
                                    <path style="fill:#BFFFEA;"
                                        d="M416,512H96c-53,0-96-43-96-96V96C0,43,43,0,96,0h320c53,0,96,43,96,96v320C512,469,469,512,416,512z" />
                                    <path style="fill:#1FFF71;"
                                        d="M290.7,241.5c14.6-13.3,34.4-31.3,36.2-74.4h13v-12.9H172.1v12.9h13c1.8,43,21.6,61.1,36.2,74.4c9.8,8.9,15.3,14.4,15.3,22.9c0,8.5-5.5,14-15.3,22.9c-14.6,13.3-34.4,31.3-36.2,74.4h-13v12.9h167.9v-12.9h-13c-1.8-43-21.6-61.1-36.2-74.4c-9.8-8.9-15.3-14.4-15.3-22.9C275.4,256,280.9,250.5,290.7,241.5z M249.5,312.8c-2,0.4-4,1-5.9,1.8L204.1,331c6.5-16.4,16.9-25.9,25.9-34.1c10.1-9.2,19.6-17.8,19.6-32.4V312.8z M282,296.9c9,8.2,19.4,17.7,25.9,34.1l-39.6-16.4c-1.9-0.8-3.9-1.4-5.9-1.8v-48.4C262.5,279.1,272,287.7,282,296.9z M203.9,197.3c-3.1-8.1-5.3-18-5.8-30.1H314c-0.6,12.2-2.7,22-5.8,30.1H203.9z" />
                                </svg>
                            </div>
                            <p class="input">Auto delete in</p>
                            <select autocomplete="off" class="select btnUnder btnPad time">
                                <option value="1m">1 Minute</option>
                                <option value="5m" selected>5 Minutes</option>
                                <option value="10m">10 Minutes</option>
                                <option value="20m">20 Minutes</option>
                                <option value="30m">30 Minutes</option>
                                <option value="1h">1 Hour</option>
                                <option value="2h">2 Hours</option>
                                <option value="3h">3 Hours</option>
                                <option value="4h">4 Hours</option>
                                <option value="5h">5 Hours</option>
                                <option value="12h">12 Hours</option>
                                <option value="1d">1 day</option>
                                <option value="2d">2 days</option>
                                <option value="3d">3 days</option>
                                <option value="1w">1 Week</option>
                                <option value="2w">2 Weeks</option>
                                <option value="3w">3 Weeks</option>
                                <option value="1mo">1 Month</option>
                                <option value="" disabled>For custom time or date, update the date box below</option>
                            </select>
                            <div class="btnFollowUp time btnPad">
                                <input type="datetime-local" class="timeGui">
                            </div>
                        </div>
                        <div class="controls before" title="See more options">
                            <div class="backControl">
                                <div class="controlText">More</div>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 492 492" xml:space="preserve" style="width: 15px;transform: rotate(180deg);">
                                    <g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                                <path d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124    c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844    L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412    c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008    c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788    C492,219.198,479.172,207.418,464.344,207.418z" fill="#273036" data-original="#000000"></path>
                                            </g>
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="btn authKey other">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 32 32" xml:space="preserve">
                                    <g>
                                        <path xmlns="http://www.w3.org/2000/svg" d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" data-original="#e3f8fa" style="fill: #dfe6ffbe"></path>
                                        <path xmlns="http://www.w3.org/2000/svg" d="m23.334 16h-14.668c-.368 0-.666-.298-.666-.667s.299-.667.667-.667h14.667c.368 0 .667.298.667.667s-.299.667-.667.667z" style="fill: #7c9aff" data-original="#26c6da"></path>
                                        <g xmlns="http://www.w3.org/2000/svg" fill="#8ce1eb">
                                            <path d="m11.333 8h-1.333c-1.103 0-2 .897-2 2v1.333c0 .369.298.667.666.667s.667-.298.667-.667v-1.333c0-.368.299-.667.667-.667h1.333c.368 0 .667-.298.667-.666s-.299-.667-.667-.667z" style="fill: #7c9aff" data-original="#8ce1eb"></path>
                                            <path d="m11.333 22.667h-1.333c-.368 0-.667-.299-.667-.667v-1.333c0-.369-.299-.667-.667-.667s-.666.298-.666.667v1.333c0 1.103.897 2 2 2h1.333c.368 0 .667-.298.667-.667s-.299-.666-.667-.666z" style="fill: #7c9aff" data-original="#8ce1eb"></path>
                                            <path d="m22 8h-1.333c-.368 0-.667.298-.667.667s.299.667.667.667h1.333c.368 0 .667.299.667.667v1.333c0 .368.299.667.667.667s.666-.299.666-.668v-1.333c0-1.103-.897-2-2-2z" style="fill: #7c9aff" data-original="#8ce1eb"></path>
                                            <path d="m23.334 20c-.368 0-.667.298-.667.667v1.333c0 .368-.299.667-.667.667h-1.333c-.368 0-.667.298-.667.667s.299.666.667.666h1.333c1.103 0 2-.897 2-2v-1.333c0-.369-.298-.667-.666-.667z" style="fill: #7c9aff" data-original="#8ce1eb"></path>
                                        </g>
                                        <path xmlns="http://www.w3.org/2000/svg" d="m21.3 15c.014-.145.034-.288.034-.435 0-2.517-2.067-4.565-4.609-4.565s-4.609 2.048-4.609 4.567c0 .149-.034.293-.084.433z" style="fill: #7c9aff" data-original="#26c6da"></path>
                                        <path xmlns="http://www.w3.org/2000/svg" d="m10.807 17-.025.04c-.076.12-.115.257-.115.395 0 .408.333.739.742.739h.708v1.174c0 .671.55 1.217 1.225 1.217.133 0 .26-.02.356-.055l.835-.251v1.24c0 .276.224.5.5.5h4.35c.276 0 .5-.224.5-.5v-2.404c0-.685.211-1.344.611-1.906.043-.061.074-.128.114-.19h-9.801z" style="fill: #7c9aff" data-original="#26c6da"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="qMarkAndTxt">
                                <p class="input">Authentication Key </p>
                                <div class="qMark">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        title="This ia a key required for actions like file deletions. Without it you can't delete a file through http requests"
                                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 512 512"
                                        xml:space="preserve">
                                        <g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                    <g>
                                                        <circle cx="255.984" cy="492" r="20" data-original="#000000">
                                                        </circle>
                                                        <path
                                                            d="M412.979,155.775C412.321,69.765,342.147,0,255.984,0c-86.57,0-157,70.43-157,157c0,11.046,8.954,20,20,20     s20-8.954,20-20c0-64.514,52.486-117,117-117s117,52.486,117,117c0,0.356,0.009,0.71,0.028,1.062     c-0.405,46.562-28.227,88.348-71.12,106.661c-40.038,17.094-65.908,56.675-65.908,100.839V412c0,11.046,8.954,20,20,20     c11.046,0,20-8.954,20-20v-46.438c0-28.117,16.334-53.258,41.614-64.051c57.979-24.754,95.433-81.479,95.418-144.516     C413.016,156.585,413.003,156.179,412.979,155.775z"
                                                            data-original="#000000"></path>
                                                    </g>
                                                </g>
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <p class="qMarkDesc">By default, you can delete a file if it was uploaded from the same IP address you're uploading from. This key allows you to delete the file from a different IP address. This is especially useful with <a href="/api" class="URL">API requests</a>.</p>
                            <div class="inputOptions">
                                <input class="input btnPad" type="text" placeholder="Auth Key" value="<%= authKey %>" autocomplete="off">
                                <div class="controls" title="Back to main options">
                                    <div class="backControl">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 492 492" xml:space="preserve" style="width: 15px;">
                                            <g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                        <path d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788C492,219.198,479.172,207.418,464.344,207.418z" fill="#273036" data-original="#000000"></path>
                                                    </g>
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                            </g>
                                        </svg>
                                        <div class="controlText">Back</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <div class="in">
                                <svg class="upload" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                    version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 24 24"
                                    style="enable-background:new 0 0 512 512" xml:space="preserve">
                                    <g>
                                        <path xmlns="http://www.w3.org/2000/svg"
                                            d="m13.25 23h-2.5c-.689 0-1.25-.561-1.25-1.25v-4.25h-2.25c-.3 0-.571-.179-.689-.454s-.061-.595.145-.813l4.75-5c.283-.298.805-.298 1.088 0l4.75 5c.206.217.264.537.146.813s-.39.454-.69.454h-2.25v4.25c0 .689-.561 1.25-1.25 1.25z"
                                            fill="#ffffff" data-original="#000000"></path>
                                        <path xmlns="http://www.w3.org/2000/svg"
                                            d="m18.673 4.927c-1.312-2.399-3.884-3.927-6.673-3.927-3.545 0-6.62 2.465-7.397 5.829-2.584.272-4.603 2.442-4.603 5.071 0 2.595 1.976 4.72 4.512 5.036-.051-.753.204-1.51.743-2.078l4.751-5.001c1.023-1.076 2.966-1.076 3.987 0l4.751 5c.502.529.757 1.221.75 1.921 2.593-.708 4.506-3.057 4.506-5.845 0-3.066-2.307-5.625-5.327-6.006z"
                                            fill="#ffffff" data-original="#000000"></path>
                                    </g>
                                </svg>
                                <span>Upload</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="textBtn" title="Upload text instead of file">
            <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 64 64">
                <g>
                    <g>
                        <path d="m39.1 12.333c2.762 0 5-2.239 5-5s-2.238-5-5-5h-33.707c-2.761 0-5 2.239-5 5s2.239 5 5 5h11.854v44.326c0 2.762 2.239 5 5 5s5-2.238 5-5v-44.326z" fill="#ffffff"></path>
                        <path d="m58.607 25.849h-22.083c-2.762 0-5 2.239-5 5 0 2.762 2.238 5 5 5h6.042v20.818c0 2.762 2.238 5 5 5s5-2.238 5-5v-20.818h6.041c2.762 0 5-2.238 5-5 0-2.761-2.238-5-5-5z" fill="#ffffff"></path>
                    </g>
                </g>
            </svg>
        </div>
    </div>

</body>

</html>
