@import url(/assets/styles/global.css);

body {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    padding: 0px 30px 30px 30px;
}

body>#content {
    margin: 0px;
    max-width: 900px;
    border: 1px solid #e1e4e8;
    padding: 10px 40px;
    padding-bottom: 20px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto 0px auto;
}

hr {
    color: #bbb;
    background-color: #bbb;
    height: 1px;
    flex: 0 1 auto;
    margin: 1em 0;
    padding: 0;
    border: none;
}

h2[id], h1[id] {
    cursor: pointer;
}
/** * Links */

pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

/** * Code blocks */

code {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    word-wrap: break-word;
    padding: 0.2em 0.4em;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

pre>code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    overflow: visible;
    padding: 0;
    word-wrap: normal;
    font-size: 100%;
}

/** Blockquotes */

blockquote {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 16px;
    border-left-width: 3px;
    padding: 0 1em;
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

blockquote * {
    font-style: normal !important;
    letter-spacing: 0;
    color: #6a737d !important;
}

/** Tables */

table {
    border-spacing: 2px;
    display: block;
    font-size: 14px;
    overflow: auto;
    width: 100%;
    margin-bottom: 16px;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

th {
    font-weight: 600;
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

/** Others */

img {
    max-width: 100%;
}

p {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #24292e;
}

ul {
    margin-top: 0;
}

li {
    color: #24292e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

li+li {
    margin-top: 0.25em;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #24292e;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3 {
    border-bottom: 1px solid #eaecef;
    color: #111;
    /* Darker */
}

:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Ubuntu', sans-serif;
    --font3: Montserrat, sans-serif;
    --font4: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif
}

.menu * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    outline: 0;
    font-family: var(--font1);
    text-decoration: none;
    color: #273036;
    -webkit-tap-highlight-color: transparent
}

::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0)
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

a:hover {
    color: #538ce8;
    transition: .25s ease
}

ul {
    padding-inline-start: 0
}

header {
    margin: auto
}

@keyframes uploadBtnAn {
    from {
        opacity: 0;
        transform: translateY(100%)
    }
}

header .logoText, header .logoText span {
    font-size: 28px;
    font-family: var(--font2)
}

header .logoText svg path {
    fill: #273036
}

header .logoText svg {
    width: 33px;
    height: 33px;
    position: relative;
    bottom: -5px
}

header .logo .item {
    display: inline-block
}

header .logo {
    position: relative
}

header {
    padding: 10px 5%;
    display: flex
}

header li {
    list-style: none;
    display: inline-block
}

header header nav>ul li {
    display: inline-block
}

header nav>ul li~li {
    padding: 0 10px
}

header nav {
    position: absolute;
    right: 10px;
    font-size: 15px;
    padding: 10px 10px 10px 0
}

header .item {
    z-index: 5
}

.menu {
    position: relative;
    z-index: 2;
    display: none
}

@keyframes menuBoxAn {
    0% {
        opacity: 0;
        top: 30px
    }
    50% {
        opacity: 1;
        top: 50px
    }
}

.menu .menuBox:not(.active) {
    display: none
}

.menu .menuBox {
    animation: menuBoxAn .7s ease;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgb(62 41 82 / 33%);
    width: 300px;
    top: 40px;
    position: relative;
    background: linear-gradient(0deg, #272e36, #272a36)
}

.menu ul li:hover a {
    color: #539afe;
}

.menu ul li a {
    color: #fff
}

.bottomBtns a {
    padding-left: 5px;
    position: relative
}

.bottomBtns a svg {
    height: 25px;
    width: 25px;
    position: relative;
    margin-top: 20px
}

.menu ul li {
    display: block;
    padding-left: 5px;
    cursor: pointer
}

.menu .lines {
    cursor: pointer;
    transform: scale(-1);
    position: absolute;
    right: 0;
    top: 0
}

.menu .lines div:first-of-type {
    width: 25px
}

.menu .lines div:nth-of-type(2) {
    width: 15px
}

.menu .lines div:last-of-type {
    width: 22px
}

.menu .lines:hover div {
    width: 25px
}

.menu .lines div {
    user-select: none;
    pointer-events: none;
    height: 3px;
    background: #273036;
    margin: 5px;
    transition: .5s ease
}

.svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -300px);
}

.svg svg {
    width: 250px;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 5px;
    }
    body>#content {
        margin: 20px auto 0px auto;
        padding: 0px 20px 20px 20px !important;
    }
}

@media screen and (max-width:430px) {
    header nav>ul {
        display: none
    }
    .menu {
        display: block
    }
}

@media screen and (max-width:540px) {
    header .logoText, header .logoText span {
        display: none
    }
}

@media screen and (max-width:650px) {
    header .logoText svg {
        width: 28px;
        height: 28px;
        position: relative;
        bottom: -5px
    }
    header .logoText, header .logoText span {
        font-size: 25px;
        transform: translateY(-10px);
    }
    nav {
        top: 6px
    }
}
