@import url(https://fonts.googleapis.com/css?family=Heebo|Ubuntu:700&display=swap);
:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Ubuntu', sans-serif;
    --font3: Montserrat, sans-serif;
    --font4: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif
}

*, ::after, ::before, body, html {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    outline: 0;
    font-family: var(--font1);
    text-decoration: none;
    color: #273036;
    -webkit-tap-highlight-color: transparent
}

::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0)
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

a:hover {
    color: #538ce8;
    transition: .25s ease
}

ul {
    padding-inline-start: 0
}

header {
    margin: auto
}

@keyframes uploadBtnAn {
    from {
        opacity: 0;
        transform: translateY(100%)
    }
}

header .logoText, header .logoText span {
    font-size: 28px;
    font-family: var(--font2)
}

header .logoText svg path {
    fill: #273036
}

header .logoText svg {
    width: 33px;
    height: 33px;
    position: relative;
    bottom: -5px
}

header .logo .item {
    display: inline-block
}

header .logo {
    position: relative
}

header {
    padding: 10px 5%;
    display: flex
}

header li {
    list-style: none;
    display: inline-block
}

header header nav>ul li {
    display: inline-block
}

header nav>ul li~li {
    padding: 0 10px
}

header nav {
    position: absolute;
    right: 10px;
    font-size: 15px;
    padding: 10px 10px 10px 0
}

header .item {
    z-index: 5
}

input {
    padding: 10px 10px 30px 5px;
    font-size: 30px;
    width: 90%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
}

.sep {
    width: 80%;
    background: linear-gradient(to right, transparent, #273036, transparent);
    height: 1px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input::placeholder {
    opacity: .2
}

@keyframes mainAn {
    from {
        opacity: 0;
        transform: translateY(0);
    }
}

main {
    animation: mainAn 2s ease;
    transition: 1s ease;
    margin: 20px auto;
    position: absolute;
    width: 90%;
    top: 50%;
    transform: translateY(-50%)
}

h2 {
    font-family: Ubuntu;
    transition: 1s ease
}

.menu {
    position: relative;
    z-index: 2;
    display: none
}

@keyframes menuBoxAn {
    0% {
        opacity: 0;
        top: 30px
    }
    50% {
        opacity: 1;
        top: 50px
    }
}

.menu .menuBox:not(.active) {
    display: none
}

.menu .menuBox {
    animation: menuBoxAn .7s ease;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgb(62 41 82 / 33%);
    width: 300px;
    top: 40px;
    position: relative;
    background: linear-gradient(0deg, #272e36, #272a36)
}

.menu ul li:hover a {
    color: #539afe;
}

.menu ul li a {
    color: #fff
}

.bottomBtns a {
    padding-left: 5px;
    position: relative
}

.bottomBtns a svg {
    height: 25px;
    width: 25px;
    position: relative;
    margin-top: 20px
}

.menu ul li {
    display: block;
    padding-left: 5px;
    cursor: pointer
}

.menu .lines {
    cursor: pointer;
    transform: scale(-1);
    position: absolute;
    right: 0;
    top: 0
}

.menu .lines div:first-of-type {
    width: 25px
}

.menu .lines div:nth-of-type(2) {
    width: 15px
}

.menu .lines div:last-of-type {
    width: 22px
}

.menu .lines:hover div {
    width: 25px
}

.menu .lines div {
    user-select: none;
    pointer-events: none;
    height: 3px;
    background: #273036;
    margin: 5px;
    transition: .5s ease
}

.svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -300px);
}

.svg svg {
    width: 250px;
    height: 100%;
}

@keyframes closeBtnAn {
    from {
        right: -30px;
        opacity: 0
    }
}

.submit span {
    color: #fff;
    font-family: var(--font2);
}

.submit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease;
    cursor: pointer;
    margin-top: 100px;
}

.submit .in {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    background: linear-gradient(30deg, #74adff, #7f94ff);
    padding: 8px 20px;
    box-shadow: 0px 0px 20px 0px #539afe30;
    display: flex;
    user-select: none;
}

.submit:hover .in {
    box-shadow: 0px 0px 30px 0px #61a3ff40;
}

.submit .upload {
    width: 20px;
    height: 100%;
    margin-right: 10px
}

.submit .in svg {
    width: 20px;
    transform: rotate(-90deg);
    margin-right: 10px;
    pointer-events: none;
}

@media screen and (max-width:430px) {
    header nav>ul {
        display: none
    }
    .menu {
        display: block
    }
}

@media screen and (max-width:540px) {
    header .logoText, header .logoText span {
        display: none
    }
    main {
        margin: 50px 5%
    }
}

@media screen and (max-width:650px) {
    header .logoText svg {
        width: 28px;
        height: 28px;
        position: relative;
        bottom: -5px
    }
    header .logoText, header .logoText span {
        font-size: 25px
    }
    nav {
        top: 6px
    }
    .sep {
        width: 100%;
    }
    input {
        font-size: 20px;
        padding: 10px 10px 20px 5px;
        width: 100%;
    }
    .svg svg {
        width: 150px;
    }
    .svg {
        transform: translate(-50%, -250px);
    }
}